<style type="text/css">
  .slider-pager {
    position: relative;
    bottom: 18px;
    z-index: 1;
    width: 100%;
    height: 25px;
    text-align: center;
  }
</style>

<ion-view view-title="影院详情">


  <ion-content class="padding">
    <ion-refresher on-refresh="doRefresh()"
                   pulling-text="松开刷新"
                   refreshing-text="更新历史数据，稍后..."
                   refreshing-icon="ion-loading-b">
    </ion-refresher>

    <header>
      <div ng-click="goBack()">
        <div class="go_back"></div>
      </div>

      <div class="page_title">影院详情</div>
      <a href="switchCity.html" class="city">&nbsp;&nbsp;{{currCityName}}&nbsp;</a>
    </header>

    <div class="card">
      <div class="item item-divider">
        <div class="row">
          <div class="col col-90">
            <h2 style="font-size: 20px">{{cinema.name}}</h2>
          </div>
          <div class="col col-10">
            <a href="tel:{{cinema.tel}}"><img style="height: 25px;" src="../img/tel.png"> </a>
          </div>
        </div>
        <div class="row">
          <div class="col col-70">
            <p>{{cinema.address}}</p>

            <p>{{cinema.route}}</p>
          </div>
          <div class="col col-center">
            <div style="float: right;">
              <img style="width: 30px" ng-if="cinema.has3d" src="../img/3d.png">
              <img style="width: 30px" ng-if="cinema.hasImax" src="../img/imax.png">
              <img style="width: 30px" ng-if="cinema.hasPark" src="../img/park.png">
              <img style="width: 30px" ng-if="cinema.hasWifi" src="../img/wifi.png">
            </div>
          </div>
        </div>
      </div>
    </div>

    <h1 ng-if="movies.length<=0">当前影院无上映信息</h1>
    <ion-slide-box style="background-color: gainsboro" delegate-handle="slideMovie"
                   on-slide-changed="currMovieHasChanged($index)" show-pager="true"
                   ng-if="movies.length>0">
      <ion-slide ng-repeat="movie in movies" repeat-done="repeatMovieDone()">
        <div class="row">
          <div class="col col-30">
            <img ng-if="$index!=0"
                 style="height:150px;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.68;opacity:0.6"
                 src="{{movies[$index-1].image}}">
          </div>
          <div class="col col-40">
            <img style="height: 150px;border: 3px" src="{{movie.image}}">
          </div>
          <div class="col col-30">
            <img ng-if="$index!=movies.length-1 && movies.length != 1"
                 style="height:150px;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;opacity:0.6"
                 src="{{movies[$index+1].image}}">
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

    <h3 ng-if="showDates.length<=0">当前影片无上映信息</h3>
    <ion-slide-box on-slide-changed="currDateHasChanged($index)" delegate-handle="slideDate"
                   show-pager="true" ng-if="showDates.length>0">
      <ion-slide ng-repeat="showDate in showDates" repeat-done="repeatDateDone()">
        <h3 style="text-align: center">
          <div ng-if="$index!=0" class="go_back" ng-click="lastDateSlide()"></div>
          {{showDate}}
          <div ng-if="$index!=showDates.length-1" class="go_forward" ng-click="nextDateSlide()"></div>
        </h3>
      </ion-slide>
    </ion-slide-box>

    <h3 ng-if="showDates.length<=0 || !currScreenings">当日已无场次</h3>
    <ion-list ng-if="showDates.length>0 && currScreenings">
      <h4>日期:{{showDate}}</h4>
      <ion-item ng-repeat="screening in currScreenings"
                class="item-icon-right" type="item-text-wrap"
                href="/#/source/{{cinema.id}}/{{currMovie.id}}/{{currShowDate}}/{{screening.startTime}}">
        <div class="row">
          <div class="col col-40">
            <h3>{{screening.startTime}}</h3>
          </div>
          <div class="col col-30">
            <h4>{{screening.language}}/{{screening.version}}</h4>
          </div>
          <div class="col col-30">
            <h5 style="color: red"> 原价
              <del>￥{{screening.cinemaPrice}}</del>
            </h5>
          </div>

        </div>
        <div class="row">
          <div class="col col-40">
            <p>散 {{screening.endTime}}</p>
          </div>
          <div class="col col-30">
            <h4>{{screening.hall}}</h4>
          </div>
          <div class="col col-30">
            <h3>{{screening.sourceCount}}个来源</h3>
          </div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>

        <div class="item item-divider" style="border: hidden;min-height: 40px">
          <div class="bar bar-header">
            <h2 style="color:darkorange">最低价来自: {{screening.source}}</h2>
            <a class="button button-small button-assertive pull-right"
               href="{{screening.ticketURL}}">
              ￥{{screening.salePrice}} 去购票
            </a>
          </div>

        </div>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
