<ion-view view-title="影院列表">


  <ion-content class="padding">
    <ion-refresher on-refresh="doRefresh(1)"
                   pulling-text="松开刷新"
                   refreshing-text="更新历史数据，稍后..."
                   refreshing-icon="ion-loading-b">
    </ion-refresher>

    <header>
      <div ng-click="goBack()">
        <div class="go_back"></div>
      </div>

      <div class="page_title">全部影院</div>
      <a href="/#/cities/cinemalist" class="city" ng-show="currCityId != -1">&nbsp;&nbsp;{{currCityName}}&nbsp;</a>
      <a href="/#/cities/cinemalist" class="city" ng-show="currCityId==-1">&nbsp;&nbsp;定位中...&nbsp;</a>
      <span class="movieTxt" style="margin-left: 10px;">当前城市：</span>
    </header>

    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="输入影院名称或拼音首字母"
               ng-change="filterByName(nameLike)" ng-model="nameLike" autocorrect="off">
      </label>
    </div>

    <div class="button-bar">
      <a ng-if="currLat && currLng" ng-style="distanceOrderStyle"
         class="button button-outline button-positive" ng-click="orderByDistance()">最近</a>
      <a ng-style="priceOrderStyle" class="button button-outline button-positive" ng-click="orderByPrice()">最省</a>
      <button ng-style="districtFilterStyle" ng-click="openPopover($event)"
              class="button button-outline button-positive">
        筛选: {{currDistrictName}}
      </button>
    </div>

    <div class="list">
      <a class="item" style="min-height: 90px"
         collection-repeat="cinema in cinemas.messages"
         href="/#/cinema/{{cinema.id}}">
        {{cinema.name}}
        <p>
          {{cinema.address}}
        </p>

        <p style="color: orangered">
           <span class="badge badge-assertive" style="bottom: 2px;top: auto;right: 5px">
            {{cinema.minPrice}}元起 {{cinema.sourceCount}}个票源
          </span>
        </p>
      </a>
    </div>

    <ion-infinite-scroll ng-if="cinemas.hasMore" on-infinite="loadMore()"
                         immediate-check="false" distance="1%"></ion-infinite-scroll>

  </ion-content>
</ion-view>


<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view style="height:80%">
    <ion-header-bar>
      <h1 class="title">选择区域</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <li class="item"
            ng-click="filterByDistrict(null,'全部')">
          <p>
            全部
          </p>
        </li>
        <li class="item"
            ng-repeat="area in areas"
            ng-click="filterByDistrict(area.id,area.name)">
          <p>
            {{area.name}}
          </p>
        </li>
      </div>
    </ion-content>
  </ion-popover-view>
</script>
