<style type="text/css">
  .slider-pager {
    position: relative;
    bottom: 18px;
    z-index: 1;
    width: 100%;
    height: 25px;
    text-align: center;
  }
</style>

<ion-view view-title="影院详情">


  <ion-content class="padding">
    <ion-refresher on-refresh="doRefresh()"
                   pulling-text="松开刷新"
                   refreshing-text="加载中，请稍后..."
                   refreshing-icon="ion-loading-b">
    </ion-refresher>

    <header>
      <div ng-click="goBack()">
        <div class="go_back"></div>
      </div>

      <div class="page_title">影院详情</div>
      <a href="switchCity.html" class="city">&nbsp;&nbsp;{{currCityName}}&nbsp;</a>
    </header>

    <div class="card">
      <div class="item item-body">
        <h2>{{cinema.name}}</h2>

        <p> {{cinema.address}}</p>
      </div>

      <div class="item tabs tabs-secondary" style="padding-top: 10px">
        <a class="tab-item" ng-if="cinema.has3d">
          <img style="width: 30px" ng-src="../img/3d.png">
        </a>
        <a class="tab-item" ng-if="cinema.hasImax">
          <img style="width: 30px" ng-src="../img/imax.png">
        </a>
        <a class="tab-item" ng-if="cinema.hasPark">
          <img style="width: 30px" ng-src="../img/park.png">
        </a>
        <a class="tab-item" ng-if="cinema.hasWifi">
          <img style="width: 30px" ng-src="../img/wifi.png">
        </a>
        <a class="tab-item" href="tel:{{cinema.tel}}">
          <img style=" height: 35px;" ng-src="../img/tel.png">
        </a>
      </div>
    </div>


    <button class="button button-full"
            ng-if="!movies || movies.length<=0">
      当前影院无上映信息
    </button>

    <ion-slide-box style="background-color: gainsboro" delegate-handle="slideMovie"
                   on-slide-changed="currMovieHasChanged($index)" show-pager="true"
                   ng-if="movies.length>0">
      <ion-slide id="movieSlider" ng-repeat="movie in movies" repeat-done="repeatDone()">
        <div class="row">
          <div class="col col-30">
            <img ng-if="$index!=0"
                 style="height:150px;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.68;opacity:0.6"
                 ng-src="{{movies[$index-1].image}}">
          </div>
          <div class="col col-40">
            <img style="height: 150px;border: 3px" ng-src="{{movie.image}}">
          </div>
          <div class="col col-30">
            <img ng-if="$index!=movies.length-1 && movies.length != 1"
                 style="height:150px;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;opacity:0.6"
                 ng-src="{{movies[$index+1].image}}">
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

    <button class="button button-full"
            ng-if="movies.length > 0 && (!showDates || showDates.length<=0)">
      当前影片无上映信息
    </button>
    <ion-slide-box on-slide-changed="currDateHasChanged($index)" delegate-handle="slideDate"
                   show-pager="true" ng-if="showDates.length>0">
      <ion-slide ng-repeat="showDate in showDates" repeat-done="repeatDone()">
        <h3 style="text-align: center">
          <div ng-if="$index!=0" class="go_back" ng-click="lastDateSlide()"></div>
          {{showDate}}
          <div ng-if="$index!=showDates.length-1" class="go_forward" ng-click="nextDateSlide()"></div>
        </h3>
      </ion-slide>
    </ion-slide-box>

    <button class="button button-full"
            ng-if="movies.length > 0 && showDates.length > 0 && (!currScreenings || currScreenings.length<=0)">
      当日已无场次
    </button>

    <ion-list ng-if="showDates.length>0 && currScreenings">
      <h4>日期:{{showDate}}</h4>
      <ion-item ng-repeat="screening in currScreenings"
                class="item-icon-right" type="item-text-wrap"
                href="/#/source/{{cinema.id}}/{{currMovie.id}}/{{currShowDate}}/{{screening.startTime}}">
        <div class="row">
          <div class="col col-40">
            <h3>{{screening.startTime}}</h3>
          </div>
          <div class="col col-30">
            <h4>{{screening.language}}/{{screening.version}}</h4>
          </div>
          <div class="col col-30">
            <h5 style="color: red"> 原价
              <del>￥{{screening.cinemaPrice}}</del>
            </h5>
          </div>

        </div>
        <div class="row">
          <div class="col col-40">
            <p>散 {{screening.endTime}}</p>
          </div>
          <div class="col col-30">
            <h4>{{screening.hall}}</h4>
          </div>
          <div class="col col-30">
            <h3>{{screening.sourceCount}}个来源</h3>
          </div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>

        <div class="item item-divider" style="border: hidden;min-height: 40px">
          <div class="bar bar-header">
            <h2 style="color:darkorange">最低价来自: {{screening.source}}</h2>
            <a class="button button-small button-assertive pull-right"
               href="{{screening.ticketURL}}">
              ￥{{screening.salePrice}} 去购票
            </a>
          </div>

        </div>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
