<ion-view view-title="选择城市">

  <div class="bar bar-header">
    <a class="button bar-balanced button-clear" href="/#/{{oriPath}}">
      <h4>返回</h4>
    </a>

    <div class="title">选择城市</div>
  </div>


  <ion-content class="padding has-header">
    <div id="当前" class="item item-divider">
      当前城市
    </div>

    <a class="button button-clear" href="/#/{{oriPath}}">
      <h4 style="text-align: left">{{currCityName}}</h4>
    </a>

    <div id="定位" class="item item-divider">
      定位信息
    </div>

    <div ng-if="currLat && currLng" class="button button-clear">
      <h4 style="text-align: left">{{currCityName}}</h4>
    </div>

    <div ng-if="!currLat || !currLng" class="item item-button-right">
      无法获取当前位置
      <button class="button button-positive" ng-click="reLocate()">
        <i>重新定位</i>
      </button>
    </div>

    <div class="item item-divider">按字母排序</div>
    <div class="item">
      <div class="row">
        <div class="col" ng-repeat="letter in letterGroupA" ng-click="gotoElement(letter)">
          <button class="button-full"><h2>{{letter}}</h2></button>
        </div>
      </div>
      <div class="row">
        <div class="col" ng-repeat="letter in letterGroupB" ng-click="gotoElement(letter)">
          <button class="button-full"><h2>{{letter}}</h2></button>
        </div>
      </div>
      <div class="row">
        <div class="col" ng-repeat="letter in letterGroupC" ng-click="gotoElement(letter)">
          <button class="button-full"><h2>{{letter}}</h2></button>
        </div>
      </div>
      <div class="row">
        <div class="col" ng-repeat="letter in letterGroupD" ng-click="gotoElement(letter)">
          <button class="button-full"><h2>{{letter}}</h2></button>
        </div>
      </div>
    </div>


    <div ng-repeat="(k,v) in cityLists| orderCities">
      <div id="{{k}}" class="item item-divider">
        {{k}}
      </div>
      <div class="item" style="padding: 3px">
        <div class="row" ng-repeat="groups in v">
          <div class="col col-25" ng-repeat="group in groups">
            <button class="button button-full button-clear" style="margin-top: 1px;margin-bottom: 1px"
                    ng-click="switchCity(group.id,group.name)">
              <h3 style="text-align: left">{{group.name}}</h3>
            </button>

          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>


<div>
  <ul>
    <div class="gototop" ng-click="goTop()"
         style="display: block; transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
      <img src="img/gototop.png" width="50%"></div>
  </ul>
</div>
