<link href="css/home.css" rel="stylesheet">


<ion-view view-title="哔哔电影">


  <ion-content class="padding">
    <ion-refresher on-refresh="doRefresh()"
                   pulling-text="松开刷新"
                   refreshing-text="更新历史数据，稍后..."
                   refreshing-icon="ion-loading-b">
    </ion-refresher>

    <header><span class="logo"></span>
      <a href="/#/cities/" class="city" ng-show="currCityId != -1">&nbsp;&nbsp;{{currCityName}}&nbsp;</a>
      <a href="/#/cities/" class="city" ng-show="currCityId==-1">&nbsp;&nbsp;定位中...&nbsp;</a>
      <span class="movieTxt" style="margin-left: 10px;">当前城市：</span>

    </header>

    <nav>
      <a href="/#/movielist">
        <div class="quanDiv"></div>
        比比电影</a>
      <a href="/#/cinemalist">
        <div class="quanDiv"></div>
        比比影院</a>
    </nav>

    <ion-item style="border-width: 0">
      <span class="fs_10">热映影片</span>
      <a href="/#/movielist" class="font_8f8f8f fs_13">
        <span class="item-note">更多&gt;&gt;</span>
      </a>


      <div class="row" ng-repeat="movies in movieList">
        <div class="col col-33" ng-repeat="movie in movies">
          <a href="/#/movie/{{movie.movieId}}">
            <div>
              <img src={{movie.image}} height="130px" width="100%">
              <em class="m_score">{{movie.rating}}</em>
            </div>

            <h2 style="font-family: 微软雅黑;text-align: center">{{movie.movieName}}</h2>
          </a>
          <a href="/#/moivecinema/{{movie.movieId}}"
             class="button button-assertive button-full button-small button-positive">
            购票&nbsp;{{movie.minPrice}}&nbsp;元起
          </a>

        </div>
      </div>
    </ion-item>

    <ion-item style="border-width: 0">
      <span class="fs_10">推荐影院</span>
      <ion-list>
        <ion-item ng-repeat="cinema in nearCinemaList"
                  class="item-icon-right" type="item-text-wrap" href="/#/cinema/{{cinema.id}}">
          <h2>{{cinema.name}}</h2>

          <p>{{cinema.address}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>

      </ion-list>
    </ion-item>

  </ion-content>
</ion-view>
