<style type="text/css">
  .slider-pager {
    position: relative;
    bottom: 18px;
    z-index: 1;
    width: 100%;
    height: 25px;
    text-align: center;
  }
</style>

<ion-view view-title="影院列表">


  <ion-content class="padding">
    <ion-refresher on-refresh="doRefresh()"
                   pulling-text="松开刷新"
                   refreshing-text="加载中，请稍后..."
                   refreshing-icon="ion-loading-b">
    </ion-refresher>

    <header>
      <div ng-click="goBack()">
        <div class="go_back"></div>
      </div>

      <div class="page_title">选择影院</div>
      <a href="/#/cities/moviecinema" class="city" ng-show="currCityId != -1">&nbsp;&nbsp;{{currCityName}}&nbsp;</a>
      <a href="/#/cities/moviecinema" class="city" ng-show="currCityId==-1">&nbsp;&nbsp;定位中...&nbsp;</a></header>

    <h3>{{movieName}}</h3>

    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="输入影院名称或拼音首字母" ng-model="nameLike" autocorrect="off">
      </label>
    </div>

    <div class="button-bar">
      <a ng-if="currLat && currLng" ng-style="distanceOrderStyle"
         class="button button-outline button-positive" ng-click="orderByDistance()">最近</a>
      <a ng-style="priceOrderStyle" class="button button-outline button-positive" ng-click="orderByPrice()">最省</a>
      <button ng-style="districtFilterStyle" ng-click="openPopover($event)"
              class="button button-outline button-positive">
        筛选: {{currDistrictName}}
      </button>
    </div>

    <!--<h2 ng-if="!cinemas || !showDates">无上映信息</h2>-->

    <ion-slide-box ng-if="showDates" on-slide-changed="slideHasChanged($index)" show-pager="true">
      <ion-slide ng-repeat="showDate in showDates" repeat-done="repeatDone()">
        <h3 style="text-align: center">
          <div ng-if="$index!=0" class="go_back" ng-click="lastSlide()"></div>
          {{showDate}}
          <div ng-if="$index!=showDates.length-1" class="go_forward" ng-click="nextSlide()"></div>
        </h3>
      </ion-slide>
    </ion-slide-box>


    <div ng-if="cinemas" class="list">
      <a class="item" collection-repeat="cinema in cinemas | filterNameCinema : nameLike
         | filterDistrictCinema : currDistrictId | orderCinema: orderBy"
         href="/#/screening/{{cinema.id}}/{{movieId}}/{{showDate}}">
        {{cinema.name}}
        <p>{{cinema.address}}</p>

        <p style="color: orangered">
          剩余{{cinema.leftScreening}}场
           <span class="badge badge-assertive" style="bottom: 2px;top: auto;right: 5px">
            {{cinema.minPrice}}元起 {{cinema.sourceCount}}个票源
          </span>
        </p>
      </a>
    </div>

  </ion-content>
</ion-view>

<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view style="height:80%">
    <ion-header-bar>
      <h1 class="title">选择区域</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <li class="item"
            ng-click="filterByDistrict(null,'全部')">
          <p>
            全部
          </p>
        </li>
        <li class="item"
            ng-repeat="area in areas"
            ng-click="filterByDistrict(area.id,area.name)">
          <p>
            {{area.name}}
          </p>
        </li>
      </div>
    </ion-content>
  </ion-popover-view>
</script>
