<ion-view view-title="热映影片">


  <ion-content class="padding">
    <ion-refresher on-refresh="doRefresh()"
                   pulling-text="松开刷新"
                   refreshing-text="加载中，请稍后..."
                   refreshing-icon="ion-loading-b">
    </ion-refresher>

    <header>
      <div ng-click="goBack()">
        <div class="go_back"></div>
      </div>

      <div class="page_title">热映影评</div>
      <a href="switchCity.html" class="city">&nbsp;&nbsp;{{currCityName}}&nbsp;</a>
      <span class="movieTxt" style="margin-left: 10px;">当前城市：</span>
    </header>

    <div class="list">
      <a ng-repeat="movie in movies"
         class="item item-thumbnail-left item-icon-right" href="/#/movie/{{movie.movieId}}">
        <img ng-src="{{movie.image}}" height="220px">

        <h2 style="font-family: 微软雅黑">{{movie.movieName}}</h2>

        <p>{{movie.content}}</p>

        <h3>评分：{{movie.rating}}</h3>

        <h3>{{movie.screeningCount}} 场次</h3>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

    </div>

  </ion-content>
</ion-view>
