<ion-view view-title="影片详情">


  <ion-content class="padding">
    <ion-refresher on-refresh="doRefresh()"
                   pulling-text="松开刷新"
                   refreshing-text="加载中，请稍后..."
                   refreshing-icon="ion-loading-b">
    </ion-refresher>

    <header>
      <div ng-click="goBack()">
        <div class="go_back"></div>
      </div>

      <div class="page_title">电影详情</div>
      <a href="switchCity.html" class="city">&nbsp;&nbsp;{{currCityName}}&nbsp;</a>
      <span class="movieTxt" style="margin-left: 10px;">当前城市：</span>
    </header>


    <div class="row">
      <div class="col col-30">
        <img style="width: 100%" src="{{movieDetail.movie.image}}">
      </div>
      <div class="col col-60" style="min-width: 100px">
        <h4> {{movieDetail.movie.name}}</h4>
        <h5><span ng-if="movieDetail.movie.isImax">iMAX</span> <span ng-if="movieDetail.movie.is3d">3D</span></h5>
        <h6 style="max-height:80px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
          导演:{{movieDetail.movie.directors}}</h6>
        <h6 style="max-height:80px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
          主演:{{movieDetail.movie.actors}}</h6>
        <h6 style="max-height:80px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
          类型:{{movieDetail.movie.type}}</h6>
        <h6 ng-if="movieDetail.movie.runtime">时长:{{movieDetail.movie.runtime}}</h6>
        <h6 ng-if="movieDetail.movie.rating">评分:{{movieDetail.movie.rating}}</h6>
      </div>
    </div>
    <h5> {{movieDetail.movie.content}}</h5>
    <button class="button button-full button-stable">
      剧照
    </button>
    <ion-slide-box style="background-color: gainsboro" delegate-handle="slideMovie"
                   on-slide-changed="currMovieHasChanged($index)" show-pager="true"
                   ng-if="movies.length>0">
      <ion-slide id="movieSlider" ng-repeat="movie in movies" repeat-done="repeatDone()">
        <div class="row">
          <div class="col col-30">
            <img ng-if="$index!=0"
                 style="height:150px;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.68;opacity:0.6"
                 src="{{movies[$index-1].image}}">
          </div>
          <div class="col col-40">
            <img style="height: 150px;border: 3px" src="{{movie.image}}">
          </div>
          <div class="col col-30">
            <img ng-if="$index!=movies.length-1 && movies.length != 1"
                 style="height:150px;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;opacity:0.6"
                 src="{{movies[$index+1].image}}">
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

    <div class="list card">
      <button class="button button-full button-stable">
        精选影评
      </button>
      <a class="item" ng-repeat="comment in movieDetail.comments"
         href="http://m.mtime.cn/#!/review/detail/{{comment.idMtime}}/">
        <div class="item item-divider">
          <h2>{{comment.title}}</h2>
        </div>

        <div class="item item-body">
          {{comment.content}}
        </div>

        <div class="item">
          {{comment.nickName}}
          <span class="badge badge-balanced">评分:{{comment.rating}}</span>
        </div>

      </a>
    </div>
  </ion-content>
  <a href="/#/moivecinema/{{movieDetail.movie.id}}">
    <div class="bar bar-footer bar-assertive">
      <div class="title">购票</div>
    </div>
  </a>
</ion-view>
